h1, h5 {
  text-align: center;
  margin: 0;
  font-weight: bold;
}

.mymenu {
  width: 100%;
  text-align: center;
  border: 2px solid black;
  margin-bottom: 1rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

ul {
  margin: 2px auto;
  line-height: 1.4;
  padding-left: 0;
}

li {
  display: inline;
  text-align: center;
  margin: 5px;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

a:hover {
  font-style: italic;
}
